Source: katana-l10n
Section: localization
Priority: optional
Maintainer: Ivailo Monev <xakepa10@gmail.com>
Homepage: https://bitbucket.org/smil3y/workspace/projects/KATANA
Vcs-Git: https://bitbucket.org/smil3y/kde-l10n.git
Standards-Version: 4.24.0
Build-Depends: debhelper (>= 9~), cmake, katanalibs

Package: katana-l10n
Architecture: any
Depends: ${misc:Depends}
Description: Katana translations
