pkgbase = katanalibs
	pkgdesc = Katana core libraries
	pkgver = 4.18.0.8cc2eab
	pkgrel = 1
	url = http://fluxer.github.io/katana/
	install = katanalibs.install
	arch = i686
	arch = x86_64
	groups = katana
	license = GPL
	license = LGPL
	license = FDL
	makedepends = cmake
	makedepends = git
	makedepends = avahi
	makedepends = libgl
	makedepends = hspell
	makedepends = mesa
	makedepends = grantlee-qt4
	depends = libxss
	depends = krb5
	depends = qca
	depends = libdbusmenu-qt
	depends = perl
	depends = shared-mime-info
	depends = enchant
	depends = giflib
	depends = jasper
	depends = openexr
	depends = strigi
	depends = docbook-xsl
	depends = upower
	depends = udisks2
	depends = libxcursor
	depends = phonon-qt4
	depends = libraw
	depends = media-player-info
	depends = libxtst
	depends = libutempter
	depends = qtwebkit
	depends = icu
	depends = exiv2
	depends = libmusicbrainz5
	depends = alsa-lib
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = libwebp
	conflicts = kdelibs
	conflicts = libkdcraw
	conflicts = libkexiv2
	conflicts = libkcddb
	conflicts = libkcompactdisc
	source = git+https://github.com/fluxer/kdelibs.git
	source = kde-applications-menu.patch
	source = archlinux-menu.patch
	sha1sums = SKIP
	sha1sums = 2ab1ac29d3e6ef1020a1781a79882ba586e6bdab
	sha1sums = 4de0a8db4155a83667bc4dac1c3df8659ee4a030

pkgname = katanalibs

