Source: libdbusmenu-katie
Section: libdevel
Priority: optional
Maintainer: Ivailo Monev <xakepa10@gmail.com>
Homepage: https://osdn.net/projects/kde/
Vcs-Git: https://scm.osdn.net/gitroot/kde/libdbusmenu-qt.git
Vcs-browser: https://osdn.net/projects/kde/scm/git/libdbusmenu-qt/tree
Standards-Version: 4.23.0
Build-Depends: debhelper (>= 9~), cmake, katie-dev

Package: libdbusmenu-katie
Architecture: amd64 arm64 armel armhf i386 mips mips64el mipsel ppc64el s390x hurd-i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Katie implementation of the DBusMenu protocol
