Source: katanalibs
Section: x11
Priority: optional
Maintainer: Ivailo Monev <xakepa10@gmail.com>
Homepage: https://github.com/fluxer/kdelibs
Vcs-Git: git://github.com/fluxer/kdelibs.git
Vcs-browser: https://github.com/fluxer/kdelibs
Standards-Version: 4.19.0
Build-Depends: debhelper (>= 9~), cmake, katie-dev, libenchant-dev,
 libopenexr-dev, libmpv-dev, libraw-dev, libmusicbrainz5-dev, xorg-dev,
 mesa-common-dev, libavahi-common-dev, krb5-multidev, perl-base, libwebp-dev,
 libudev-dev, liblzma-dev, libexiv2-dev, libilmbase-dev, libbz2-dev,
 libattr1-dev, libacl1-dev, libxcb-render-util0-dev, libxcb-keysyms1-dev,
 libxcb-image0-dev, libudisks2-dev, strigi, libdbusmenu-katie,
 media-player-info, krb5-config

Package: katanalibs
Architecture: amd64 arm64 armel armhf i386 mips mips64el mipsel ppc64el s390x
Depends: ${shlibs:Depends}, ${misc:Depends}, , ${perl:Depends}, upower,
 udisks2, shared-mime-info, media-player-info, xdg-utils
Description: Katana core libraries
