Source: katanalibs
Section: x11
Priority: optional
Maintainer: Ivailo Monev <xakepa10@gmail.com>
Homepage: https://github.com/fluxer/kdelibs
Vcs-Git: git://github.com/fluxer/kdelibs.git
Vcs-browser: https://github.com/fluxer/kdelibs
Standards-Version: 4.21.0
Build-Depends: debhelper (>= 9~), cmake, katie-dev, libenchant-dev,
 libmagick++-dev, libmpv-dev [linux-any], xorg-dev,
 libavahi-common-dev, krb5-multidev, libwebp-dev,
 libudev-dev [linux-any], liblzma-dev, libexiv2-dev, libbz2-dev,
 libattr1-dev, libacl1-dev, zlib1g-dev, krb5-config,
 libcdio-dev [linux-any], media-player-info [linux-any], strigi,
 libdbusmenu-katie

Package: katanalibs
Architecture: amd64 arm64 armel armhf i386 mips mips64el mipsel ppc64el s390x hurd-i386
Depends: ${shlibs:Depends}, ${misc:Depends}, xdg-utils,
 shared-mime-info, media-player-info [linux-any]
Description: Katana core libraries
