Source: ariya-icons
Section: misc
Priority: optional
Maintainer: Ivailo Monev <xakepa10@gmail.com>
Homepage: https://osdn.net/projects/kde/
Vcs-Git: git://git.osdn.net/gitroot/kde/ariya-icons.git
Vcs-browser: https://osdn.net/projects/kde/scm/git/ariya-icons/tree
Standards-Version: 4.23.0
Build-Depends: debhelper (>= 9~), cmake

Package: ariya-icons
Architecture: any
Depends: ${misc:Depends}
Description: Ariya icon theme for use with Katana
