Source: strigi
Section: libdevel
Priority: optional
Maintainer: Ivailo Monev <xakepa10@gmail.com>
Homepage: https://github.com/fluxer/strigi
Vcs-Git: git://github.com/fluxer/strigi.git
Vcs-browser: https://github.com/fluxer/strigi
Standards-Version: 4.20.0
Build-Depends: debhelper (>= 9~), cmake, libexiv2-dev, libmagic-dev,
 libavcodec-dev, libavformat-dev, libbz2-dev, zlib1g-dev, libattr1-dev,
 libxml2-dev

Package: strigi
Architecture: amd64 arm64 armel armhf i386 mips mips64el mipsel ppc64el s390x hurd-i386
Depends: ${shlibs:Depends}, ${misc:Depends}, poppler-utils
Description: File indexing and file search framework adopted by Katana
