Source: libattica-katie
Section: libdevel
Priority: optional
Maintainer: Ivailo Monev <xakepa10@gmail.com>
Homepage: https://github.com/fluxer/attica
Vcs-Git: git://github.com/fluxer/attica.git
Vcs-browser: https://github.com/fluxer/attica
Standards-Version: 4.19.0
Build-Depends: debhelper (>= 9~), cmake, katie-dev

Package: libattica-katie
Architecture: amd64 arm64 armel armhf i386 mips mips64el mipsel ppc64el s390x
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Katie implementation of the Open Collaboration Services API
