Source: katana-extraapps
Section: x11
Priority: optional
Maintainer: Ivailo Monev <xakepa10@gmail.com>
Homepage: https://github.com/fluxer/kde-extraapps
Vcs-Git: git://github.com/fluxer/kde-extraapps.git
Vcs-browser: https://github.com/fluxer/kde-extraapps
Standards-Version: 4.19.0
Build-Depends: debhelper (>= 9~), cmake, katie-dev, katana-baseapps,
 katana-workspace, strigi, xorg-dev, zlib1g-dev, libgpgme-dev, libsqlite3-dev,
 libacl1-dev, libattr1-dev, libarchive-dev, libasound2-dev, libatasmart-dev,
 libavcodec-dev, libavformat-dev, libavutil-dev, libblkid-dev, libcanberra-dev,
 libcups2-dev, libdjvulibre-dev, libepub-dev, libexiv2-dev, libflac++-dev,
 libfreetype6-dev, libgcrypt20-dev, libgettextpo-dev, libglib2.0-dev,
 libgmp-dev, libhunspell-dev, libjpeg-dev, libpng-dev, libmms-dev,
 libparted-dev, libpulse-dev, libqalculate-dev, libraw-dev, libsane-dev,
 libspectre-dev, libspeechd-dev, libswscale-dev, libtag1-dev, libtiff5-dev,
 libudev-dev, uuid-dev, libvncserver-dev, libxcb-randr0-dev, freerdp2-dev,
 libboost-dev, qca-katie, libdbusmenu-katie

Package: katana-extraapps
Architecture: amd64 arm64 armel armhf i386 mips mips64el mipsel ppc64el s390x
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Katana extra applications
