Source: katana-extraapps
Section: x11
Priority: optional
Maintainer: Ivailo Monev <xakepa10@gmail.com>
Homepage: https://github.com/fluxer/kde-extraapps
Vcs-Git: git://github.com/fluxer/kde-extraapps.git
Vcs-browser: https://github.com/fluxer/kde-extraapps
Standards-Version: 4.20.0
Build-Depends: debhelper (>= 9~), cmake, katie-dev, katana-baseapps,
 katana-workspace, strigi, xorg-dev, zlib1g-dev, libgpgme-dev, libsqlite3-dev,
 libacl1-dev, libattr1-dev, libarchive-dev, libasound2-dev, libatasmart-dev,
 libavcodec-dev, libavformat-dev, libavutil-dev, libblkid-dev, libcups2-dev,
 libdjvulibre-dev, libepub-dev, libexiv2-dev, libflac++-dev, libfreetype6-dev,
 libgcrypt20-dev, libgettextpo-dev, libglib2.0-dev, libgmp-dev, libmms-dev,
 libhunspell-dev, libjpeg-dev, libpng-dev, libparted-dev, libqalculate-dev,
 libraw-dev, libsane-dev, libspectre-dev, libspeechd-dev, libswscale-dev,
 libtag1-dev, libtiff5-dev, uuid-dev, libudev-dev [linux-any], libscim-dev,
 libvncserver-dev, libxcb-randr0-dev, freerdp2-dev, libibus-1.0-dev,
 libboost-dev, libffmpegthumbnailer-dev, qca-katie, libbz2-dev,
 libdbusmenu-katie, libpoppler-katie

Package: katana-extraapps
Architecture: amd64 arm64 armel armhf i386 mips mips64el mipsel ppc64el s390x hurd-i386
Depends: ${shlibs:Depends}, ${misc:Depends}, freerdp2-x11, bluez-obexd
Description: Katana extra applications
