Source: katana-extraapps
Section: x11
Priority: optional
Maintainer: Ivailo Monev <xakepa10@gmail.com>
Homepage: https://osdn.net/projects/kde/
Vcs-Git: git://git.osdn.net/gitroot/kde/kde-extraapps.git
Vcs-browser: https://osdn.net/projects/kde/scm/git/kde-extraapps/tree
Standards-Version: 4.23.0
Build-Depends: debhelper (>= 9~), cmake, katie-dev,
 katana-workspace, xorg-dev, libdeflate-dev, libacl1-dev, libavcodec-dev,
 libattr1-dev, libarchive-dev, libasound2-dev, libatasmart-dev,
 libavformat-dev, libavutil-dev, libblkid-dev, libdjvulibre-dev,
 libepub-dev, libfreetype6-dev, libgettextpo-dev, libgmp-dev, libmms-dev,
 libparted-dev, libqalculate-dev, libspectre-dev, libswscale-dev, libbz2-dev,
 libtag1-dev, uuid-dev, libudev-dev [linux-any], libvncserver-dev,
 freerdp2-dev, libffmpegthumbnailer-dev, libtorrent-rasterbar-dev,
 libpoppler-cpp-dev, libdbusmenu-katie

Package: katana-extraapps
Architecture: amd64 arm64 armel armhf i386 mips mips64el mipsel ppc64el s390x hurd-i386
Depends: ${shlibs:Depends}, ${misc:Depends}, freerdp2-x11, texlive-binaries,
 qemu-system-x86, lrzip
Recommends: rar, unrar
Description: Katana extra applications
