Source: katana-workspace
Section: x11
Priority: optional
Maintainer: Ivailo Monev <xakepa10@gmail.com>
Homepage: https://osdn.net/projects/kde/
Vcs-Git: git://git.osdn.net/gitroot/kde/kde-workspace.git
Vcs-browser: https://osdn.net/projects/kde/scm/git/kde-workspace/tree
Standards-Version: 4.22.0
Build-Depends: debhelper (>= 9~), cmake, katie-dev, katanalibs,
 xorg-dev, libqalculate-dev, libgphoto2-dev, libxxf86vm-dev, libx11-xcb-dev,
 libxcb-composite0-dev, libxcb-damage0-dev, libxcb-xfixes0-dev, libxext-dev,
 libxcb-render0-dev, libxcb-randr0-dev, libxcb-shape0-dev, libxcb-sync-dev,
 libxcb-render-util0-dev, libxcb-keysyms1-dev, libmtp-dev, libglu1-mesa-dev,
 mesa-common-dev, libusb-1.0-0-dev, libssh-dev, libdrm-dev, libepub-dev,
 libraw1394-dev [linux-any], libsensors4-dev, libegl-dev, libpci-dev,
 libfreetype6-dev, libfontconfig1-dev, libkmod-dev,
 liblightdm-gobject-dev | liblightdm-gobject-1-dev, sudo, libdbusmenu-katie

Package: katana-workspace
Architecture: amd64 arm64 armel armhf i386 mips mips64el mipsel ppc64el s390x hurd-i386
Depends: ${shlibs:Depends}, ${misc:Depends}, ariya-icons, gdb | lldb,
 xserver-xorg, x11-xserver-utils, x11-xkb-utils, x11-utils, fonts-dejavu,
 lm-sensors, pciutils, icoutils, dbus-x11, iso-codes, djvulibre-bin, mtools,
 katie-tools, lightdm, qrencode, xauth, sudo, lrzsz, locate, lsof,
 cppcheck [linux-any], universal-ctags [linux-any], cryptsetup-bin [linux-any]
Description: Katana workspace interface, base applications and tools
