Source: katana-workspace
Section: x11
Priority: optional
Maintainer: Ivailo Monev <xakepa10@gmail.com>
Homepage: https://github.com/fluxer/kde-workspace
Vcs-Git: git://github.com/fluxer/kde-workspace.git
Vcs-browser: https://github.com/fluxer/kde-workspace
Standards-Version: 4.20.0
Build-Depends: debhelper (>= 9~), cmake, katie-dev, katanalibs,
 katana-baseapps, xorg-dev, libnm-dev [linux-any], libqalculate-dev,
 libgcrypt20-dev, libxklavier-dev, libx11-xcb-dev, libxcb-icccm4-dev,
 libxcb-composite0-dev, libxcb-damage0-dev, libxcb-xfixes0-dev,
 libxcb-render0-dev, libxcb-randr0-dev, libxcb-shape0-dev, libxcb-shape0-dev,
 libxcb-shm0-dev, libxcb-sync-dev, libxcb-image0-dev, libxcb-render-util0-dev,
 libxcb-keysyms1-dev, libxcb-xtest0-dev, libxcb-record0-dev, libglu1-mesa-dev,
 mesa-common-dev, libmtp-dev, python, libgps-dev, libusb-1.0-0-dev, libssh-dev,
 libsmbclient-dev, perl-base, libdrm-dev, libraw1394-dev [linux-any],
 libsensors4-dev, libgles2-mesa-dev, libpam0g-dev, libpci-dev,
 libdbusmenu-katie, libpolkit-katie, libattica-katie

Package: katana-workspace
Architecture: amd64 arm64 armel armhf i386 mips mips64el mipsel ppc64el s390x hurd-i386
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, ariya-icons, gdb,
 xterm, xserver-xorg, x11-xserver-utils, x11-utils, ttf-dejavu, lm-sensors,
 pciutils, icoutils, dbus-x11, katie-tools, adduser
Description: Katana workspace interface and basic tools
